---
layout: index
---

<section id="why">
  <div class="content-center mb2">
    <h2>E-commerce of toorrow needs IPML today</h2>
    <h5>IPML aims to bring e-commerce to the next level to build better markets for all of us.</h5>
  </div>
  <div class="grid-flex-container">
   {% assign problems = site.problems %}
   {% for item in problems %}
    <div class="grid-flex-cell-1of2">
      <div class="illustration">
       <img src="/assets/images/{{item.image}}" />
      </div>
      <h5 class="content-center">
        <strong>{{item.title}}</strong>
      </h5>
      <p>{{item.content | markdownify }}</p>
    </div>
   {% endfor %}
  </div>
</section>
</div>

<div class="container">
<section id="how">
  <div class="content-center mb2">
    <h2>Here's how IPML works</h2>
    <h5>Take a look at some of IPML's components.</h5>
  </div>
   {% assign how = site.howitworks %}
   {% for item in how %}
    <div class="how-item">
      <div class="illustration">
       <img src="/assets/images/{{item.image}}" />
      </div>
      <div class="how-description">
        <h5>{{item.content | markdownify }}</h5>
      </div>
    </div>
   {% endfor %}
</section>
</div>

<div class="container">
<section id="uses" class="content-center">
  <div class="content-center mb2">
    <h2>IPML solves problems</h2>
    <h5>Learn how IPML helps make markets better today.</h5>
  </div>
  <div class="grid-flex-container">
   {% assign solutions = site.solutions %}
   {% for item in solutions %}
    <div class="grid-flex-cell-1of2">
      <div class="illustration">
       <img src="/assets/images/{{item.image}}" />
      </div>
      <h5 class="content-center">
        <strong>{{item.title}}</strong>
      </h5>
      <p>{{item.content | markdownify }}</p>
    </div>
   {% endfor %}
   </div>
  </div>
</section>
</div>
