<footer role="contentinfo" class="footer-primary">
  <div class="container cf">
    <div class="cf">
      <div class="sitemap-menu grid-flex-container">
        <div class="grid-flex-cell">
          <ul class="sitemap unstyled">
            <li class="sitemap-head">IPML</li>
            <li><a href="https://github.com/ipml">Github Organization</a></li>
            <li><a href="/team">Team</a></li>
            <li><a href="/media">Media</a></li>
            <li><a href="/legal/">Legal</a></li>
          </ul>
        </div>
        <div class="grid-flex-cell">
          <ul class="sitemap unstyled">
            <li class="sitemap-head">DACulous</li>
            <li><a href="https://daculous.org">Official Homepage</a></li>
            <li><a href="https://daculous.com">Commercial Help</a></li>
          </ul>
        </div>
      </div>
    </div>
    <p class="footer-copyright center">© IPML.io</p>
  </div>
</footer>

<script src="/assets/js/main-bundle.js"></script>
