<header class="header-has-logo">
  <div class="container cf">
    <h1 class="pull-left">
      <a href="/" class="logo ipml-logo transition transition-fadeout">IPML</a>
    </h1>
    <nav role="navigation" class="pull-right top-nav top-nav-dark cf">
      <input id="menu-toggle" type="checkbox" class="menu-toggle">
      <label for="menu-toggle" tabindex="0" class="menu-toggle-acc"></label>
      <ul class="list-unstyled list-inline cf">
        <li><a href="/#why">Why</a></li>
        <li><a href="/#how">How</a></li>
      </ul>
    </nav>
    <div class="hero hero-home">
      <div class="hero-text">
        <h2 class="headline-main">IPML powers the Distributed Markets</h2>
        <span class="divider"></span>
        <h3 class="subhead-main">A peer-to-peer shopping protocol<br /> designed to make markets safer, more open and fair again</h3>
        <div class="cta">
          <a class="button button-primary" href="#why">Why IPML is needed</a>
          <a class="button button-outlined" href="#how">How it works</a>
          <a class="button button-outlined" href="#uses">Solutions</a>
        </div>
      </div>
    </div>
  </div>
  <div class="view-more">
    <label>View more</label><a href="#why"></a>
  </div>
</header>
